<div class="headerBar">
    <img src="../../assets/spotify.png" alt="Spotify Logo" class="logo">
    <img src="../../assets/icons/account.png" alt="user" class="user-icon">
    <h1 class="title">Spotify Stats</h1>
        <div class="header-buttons-container">
            <nav>
                <a (click)="loginClick()">Login</a>
                <a style="text-decoration: none;" class="header-buttons" (click)="pieClick()">Pie</a>
                <a style="text-decoration: none;" class="header-buttons" (click)="lastMonthClick()">Last Month</a>
                <a style="text-decoration: none;" class="header-buttons" (click)="sixMonthClick()">Last 6 Months</a>
                <a style="text-decoration: none;" class="header-buttons" (click)="lastYearClick()">Last Year</a>
            </nav>
        </div>
</div>
<router-outlet></router-outlet> 
<!-- Routing links will be displayed after previous HTML -->